<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="MessageIDBehavior" type="SimpleKvkDataserviceClient.WCF.Configuration.MessageIDBehaviorExtensionElement, SimpleKvkDataserviceClient, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>


      <behaviors>
        <endpointBehaviors>
          <behavior name="MyBehaviourConfiguration">
            <MessageIDBehavior/>
            <clientVia viaUri="https://webservices.preprod.kvk.nl/postbus2"/>
            <clientCredentials>
              <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" findValue="CN=Otto van Drakenstein -Bedrijven, O=Kamer van Koophandel, C=NL"/>
              <serviceCertificate>
                <defaultCertificate storeLocation="LocalMachine" storeName="TrustedPublisher" x509FindType="FindBySubjectDistinguishedName" findValue="CN=webservices.preprod.kvk.nl, SERIALNUMBER=00000003595818830000, O=Kamer van Koophandel, L=Utrecht, S=Utrecht, C=NL"/>
                <authentication certificateValidationMode="ChainTrust"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
          
          <customBinding>
            <binding name="MyBindingConfiguration">
              <security allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificateDuplex" defaultAlgorithmSuite="Basic128Sha256Rsa15"/>
              <textMessageEncoding messageVersion="Soap11WSAddressing10"/>
              <httpsTransport requireClientCertificate="true"/>
            </binding>
          </customBinding>

        </bindings>
      <client>
        <endpoint address="http://es.kvk.nl/KvK-DataservicePP/2015/02" behaviorConfiguration="MyBehaviourConfiguration" binding="customBinding" bindingConfiguration="MyBindingConfiguration" contract="ServiceReference.Dataservice">
          <identity>
            <dns value="webservices.preprod.kvk.nl"/>
          </identity>
        </endpoint>
      </client>

    </system.serviceModel>
</configuration>
